<h1>Create New Team</h1>

<div id="form_errors">
  <!-- This div will be replaced with error messages -->
  <%= render 'shared/form_errors', object: @team %>
</div>

<%= render 'form', team: @team %>

<%= link_to 'Back to Teams', teams_path, class: 'btn btn-secondary mt-2' %>
