<h1>Edit User</h1>

<div id="form_errors">
  <!-- This div will be replaced with error messages -->
  <%= render 'shared/form_errors', object: @user %>
</div>
<div id="user_form">
    <%= render 'form', user: @user %>
</div>
<%= link_to 'Back to Users', admin_page_index_path, class: 'btn btn-secondary mt-3' %>
