<h1>Create New Board</h1>

<div id="form_errors">
  <!-- This div will be replaced with error messages -->
  <%= render 'shared/form_errors', object: @board %>
</div>

<div id="board_form">
  <%= render 'form', board: @board, teams: @teams %>
</div>

<%= link_to 'Back to Boards', boards_path, class: 'btn btn-secondary mt-3' %>
